/*
Colors used:
Background (White): #ffffff
Primary (Dark Grey): #697385
Primary (Light Grey): #B0AFB2
Secondary (Dark Teal): #348A95
Secondary (Green): #409C8C
Secondary (Dark Blue/Grey): #35435C

Typography:
Heading 1 - Spinnaker - 24
Heading 2- Spinnaker - 20
Body (Emphasis) - Montserrat, Medium - 16
Body - Montserrat, Normal - 16

*/

* {
  box-sizing: border-box;
}


body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #697385;
}

header {
  background-color: #e3e9ed;
  text-align: center;
  font-size: .75em;
  padding: 10px 0;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%
}


h1, h2, h3, h4 {
  font-family: 'Spinnaker', sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #348A95
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.social-icon {width: 50px;
}

.social-container { display: inline-block;
}

#AOlogo {
  max-width: 50px;
}

/* Berlin image animation */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 25s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 25s cloud-move-reverse infinite alternate linear;
}



/* Links */

a {
  color: #409C8C;
  text-decoration: none;
}

a:visited { /* visited link */
  color: #409C8C;
}

a:hover,
a:focus {
  color: #697385;
  text-decoration: underline;
}

a:active { /* selected link */
  color: #2a665a;
}

.button {
  display: inline-block;
  background-color: #409C8C;
  color: #ffffff !important;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #409C8C;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #35435C;
  color: #FFF;
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #409C8C !important;
  text-transform: uppercase;
  border: 2px solid #409C8C;
  margin-top: 5px;
  margin-bottom: 20px;
}

.button.contact:hover,
 .button.contact:focus{
  background-color: #409C8C;
  color: #ffffff !important;
}

.button.contact:active {
  background-color: #35435C;
  color: #FFF;
  opacity: 0.8;
}

/* Layout styling */

.container {
  padding: 0 15px;
  width: 100%;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #B0AFB2;
}


main {
  padding-top: 80px;
}

#hero {
  background-color: #e3e9ed;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#heroquote {
  background-color:
}



/* Nav bar styling */

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;

}

nav > ul > li {
display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #409C8C;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus,  {
  color: #697385;

}

nav > ul > li > a:active { /* selected link */
  color: #2a665a;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
      text-align: unset;
      padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
     padding: 20px ;
  }
  .row::after {
content: "";
clear: both;
display: table;
  }

  #about-page h3 { margin-top: 0;}
  }

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
      width: 58.33%;
    }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
